<div>
    <form action="/agregar/carrito" method="post">
        <input name="title" placeholder="Titulo" type="text">
        <input name="cantidad" placeholder="cantidad" type="number">
        <button type="submit">Subir</button>
    </form>
</div>