<div>
    <form action="/agregar/productos" method="post">
        <input name="title" placeholder="Titulo" type="text">
        <input name="description" placeholder="Descripcion" type="text">
        <input name="price" placeholder="Price" type="number">
        <input name="stock" placeholder="Stock" type="number">
        <input name="category" placeholder="Category" type="string">
        <button type="submit">Subir</button>
    </form>
</div>